
ul{
    list-style: none;
    margin: 2rem;
    display: flex;
    padding-top: 1rem;
    padding-left: 20;
}

    .navbar>nav{ 
    
     display: flex; 
     justify-content: space-between;
} 


h1{
    margin-top: 2rem;
}
.welcomeimage>img{
    height: 100vh;
    width: 95vw;
    margin-left: 2rem;
    margin-right: 2rem;

}
.skills{
    display: flex;
    
    
}
.skills>div{
    text-align: center;
    margin-top: 1rem;
    margin-right: 2vw;
}


.footer{
    text-align: center;
    background-color: black;
    color: antiquewhite;
}
.skills>div>p{
    padding: 2rem;
}
.skills>div>img{
    height: 100px;
    width: 100;
    text-align: center;
    
}
a{
    text-decoration: none;
}
a:link a:visited{
    color: brown;
}
